.footer {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  background-color: #6d6767;
  padding: 10px;
}
.footer-left p {
  margin-top: 10px;
}

.footer-right {
  display: flex;
  margin-top: 10px;
  gap: 30px;
}
.footer-right:hover {
  cursor: pointer;
}
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
  }
  .footer-left {
    text-align: center;
  }
  .footer-right {
    display: inline-block;
    text-align: center;
    gap: 20px;
  }
}
